/* bootstrap bug */
.modal-backdrop {
    /* bug fix - no overlay */    
    /* display: none;    */
    z-index: -1;
}

/* body */


body
{
    font-family: 'PT Sans', sans-serif;
    color: #4c4c4c;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    word-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    padding-right: 0px !important;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: 700;
}

p
{
    margin-bottom: 26px;
}

a
{
    color: #4ecdc4;
    text-decoration: none !important;
    -webkit-transition: color 0.3s;
            transition: color 0.3s;
}

a:hover
{
    color: #4c4c4c;
}

/* float-right */
.fr { float: right; }

.btn 
{
    font-size: 1.2em;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 8px 30px;
    margin-bottom: 5px;
    -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
            transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.btn.btn-lg
{
    padding: 10px 35px;
    letter-spacing: 2px;
    font-size: 1.4em;
    height: 52px;
}

.btn-main
{
    color: #fff;

    background-color: rgba(65,139,196,1);
    border-color: rgba(65,139,196,1);

/*    text-transform: uppercase; */
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active
{
    background-color: rgba(116,186,214,1);
    border-color: rgba(116,186,214,1);
    color: #fff;
}
input
{
    margin: 10px 0;
    font-weight: 400;
}
input.name,
input.tel
{
    padding: 25px 40px 25px 50px;
    color: #000;
    
}

form .input
{
    position: relative;
}
form .input input
{
    font-size: 1em;
}

form .input .fa-input
{
    position: absolute;
    top: 14px;
    left: 10px;
    color: #4c4c4c;
}

form button
{
    width: 100%;
}

/* scroll-rail*/
.nicescroll-rails
{
    background-color: rgba(0,0,0,.1);
}

.section-title
{
    margin-bottom: 70px;
}

.section-title h3
{
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 36px;
    line-height: 48px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    clear: both;
    position: relative;
    padding: 0 10px;
}
.section-title.st-center
{
    text-align: center;
}
.section-title.st-left
{
    text-align: left;
}
.section-title.st-left h3
{
    padding-left: 0px;
}
/* header */

.navbar-default
{
    background-color: transparent;
    border-width: 0;
    margin-bottom: 0 !important;
    height: 102px;
    -webkit-transition: background-color 0.3s, height 0.3s;
            transition: background-color 0.3s, height 0.3s;
}
/* toggle */
.navbar-default .navbar-toggle
{
    border-color: rgba(117,98,101,1);
    border-width: 2px;
    margin-top: 24px;
}
.st-navbar-mini .navbar-toggle
{
    margin-top: 8px;
    border-color: #fff;
}
/* хэдер после прокрутки  */
.st-navbar-mini .navbar-default
{
    background-color: rgba(54,71,79,1);
    height: 60px;
}

.st-navbar-mini .navbar-default .navbar-brand
{
    padding: 20px 15px;
    font-size: 2em;
    color: #fff;
}
.st-navbar-mini .navbar-default .navbar-brand img
{
/*    height: 24px; */
}
.st-navbar-mini .navbar-default .navbar-nav>li>a
{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.st-navbar-mini .navbar-default .navbar-nav>li.active>a,
.st-navbar-mini .navbar-default .navbar-nav>li.active a:hover,
.st-navbar-mini .navbar-default .navbar-nav>li.active a:focus,
.st-navbar-mini .navbar-default .navbar-nav>li.active a:active
{
    color: #fff;
    background-color: rgba(33,44,49,.95);
    padding: 20px 15px 20px 15px;
}

.st-navbar-mini .navbar-default .navbar-nav>li>a:hover,
.st-navbar-mini .navbar-default .navbar-nav>li>a:focus
{
    color: #fff;
    background-color: rgba(33,44,49,.95);
    padding: 20px 15px 20px 15px;
}

.st-navbar-mini .navbar-default .navbar-brand:focus,
.st-navbar-mini .navbar-default .navbar-brand:hover
{
    color: #fff;
}

/* logo */
.navbar-default .navbar-brand
{
    color: rgba(117,98,101,1);
}
.navbar-brand
{
    height: auto;
    padding: 27px 15px;
    -webkit-transition: padding 0.3s;
            transition: padding 0.3s;
    font-style: italic;
}

.navbar-brand img
{
/*    height: 36px;*/
    -webkit-transition: height 0.3s;
            transition: height 0.3s;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover
{
    color: rgba(117,98,101,1);
}
/* navigation */
.navbar-nav>li>a
{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 35px 15px 45px 15px;
    -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
            transition: color 0.3s, background-color 0.3s, padding 0.3s;
}

.navbar-default .navbar-nav>li>a
{
    color: rgba(117,98,101,1);
}

.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active a:hover,
.navbar-default .navbar-nav>li.active a:focus,
.navbar-default .navbar-nav>li.active a:active
{
    background-color: rgba(0,0,0,0);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus
{
    color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover
{
    color: rgba(97,89,90,1);

}
/* home  */
.home
{
    background-image: url(../img/jumbotron-bg.png);  
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255,255,255,1);
    margin: 0;
    padding: 100px 0 40px 0;
    position: relative;
}

.home .st-home-unit
{
    position: relative;
}

.home .hero-txt
{
    color: #151515;
    text-align: center;
}

.home .hero-txt .btn-home
{
    font-size: .7em;
    letter-spacing: 0;
}

.home .hero-txt .btn-home:hover
{
}

.home .hero-txt .hero-title
{
    font-family: 'PT Sans Caption', sans-serif;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px; 
    margin-top: 0px; 
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px; 
    text-align: center;
}
.home .hero-txt .hero-title h2
{
    font-size: 2.35em;
    line-height: 1.2;
}
.home .hero-txt .hero-title span
{
    text-transform: none;
    line-height: .6;
}
.home .hero-txt .hero-title .with-us
{
    font-size: 1.3em;
    line-height: 1.4;
}
.home .hero-txt .hero-title .brand
{
    font-size: 2.24em;
    line-height: 1.2;
}

.home .hero-txt .hero-work
{
    display: none;
    color: #4c4c4c;
    font-size: 1.7em;
    font-weight: 700;
    padding-top: 20px; 
    margin-bottom: 0;
/*    text-shadow: 1px 1px #333; */
}
/*
.home .hero-txt .hero-work:after
{
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    margin: 40px auto; 
    background-color: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0,0,0,.3);
}
*/
.home .hero-txt .hero-item
{
    max-width: 900px;
    margin: 20px auto; 
    color: #fff;
    padding: 20px 0; 
    font-size: .7em;
    font-weight: 200;
    line-height: 0.8;
/*    text-shadow: 1px 1px #333;   */
    text-align: center;
}

.st-home-unit
{
/*    background-color: rgba(245,245,245,.875); */
/*    background-color: rgba(255,213,70,0.85); */
    border-radius: 5px;
 /*   border: 3px solid #4c4c4c; */
 }

/* Mouse animate icon */
.mouse-icon
{
    position: absolute;
    left: 50%;
    bottom: 10px;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 40px;
    width: 24px;
    margin-left: - 15px;
    display: block;
/*    z-index: 10; */
    opacity: 0.8;
}

.mouse-icon .wheel
{
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
}

.mouse-icon .wheel 
{
    position: relative;
    border-radius: 10px;
    background: #fff;
    width: 2px;
    height: 6px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop
{
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
    
}

@keyframes drop
{
    0% {
        top: 5px;
        opacity: 0;
    }

    30% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}
/* testimonials */
.testimonials
{
    padding: 40px 0;
    background-color: #889ca7;
    color: #fff;
}

.testimonial
{
    max-width: 800px;
    margin: 0 auto;
}

.testimonial .testimonial-img
{
    float: left;
    margin-right: 30px;
    position: relative;
}
.testimonial .testimonial-img img
{
    border-radius: 50%;
    width: 150px;
}

.testimonial blockquote
{
    border-width: 0;
}

.testimonial blockquote p
{
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
}


.testimonial blockquote p:after,
.testimonial blockquote p:before
{
    font-family: 'Tenor Sans', sans-serif;
    content: '\201C';
    font-size: 24px;
    padding-right: 5px;
}


.testimonial blockquote footer
{
    font-size: 20px;
}
.testimonial blockquote footer,
.testimonial blockquote small,
.testimonial blockquote .small
{
    color: #fff;
}

.testimonial blockquote .black
{
    color: #4c4c4c;
}

.testimonial-bg-1
{
}
/* colors */
.orange
{

    background-color: rgba(212,90,46,1); 
}
.light-pink
{
    background-color: rgba(170,139,144,1);
}

.ocean
{
    background-color: rgba(108,186,187,1);
}

.yellow
{
    background-color: rgba(244,212,90,1);
}

.pink
{
    background-color: rgba(226,119,119,1);    
}

.green
{
    background-color: rgba(121,175,143,1);
}
.black
{
    color: #4c4c4c;
}
/* pricing */
.pricing
{
    padding: 100px 0;
}

.pricing .section-title
{
    margin-bottom: 50px;
}
.pricing-table
{
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
}

.pricing-table .pricing-header .pt-price
{
    color: #4c4c4c;
    font-size: 40px;
    line-height: 70px;
    font-weight: 400;
    text-align: center;
    padding: 10px 40px;
}

.pricing-table .pricing-header .pt-name
{
    height: 120px;
    padding: 30px 30px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    color: #4c4c4c;
    border-top: 1px solid #e2e2e2;
/*    border-bottom: 1px solid #f2f2f2; */
}
.pricing-table .pricing-body
{
    text-align: center;
    color: #4c4c4c;
}
.pricing-table .pricing-body ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-table .pricing-body ul li
{
    padding: 8px 25px;
    margin: 0;
    font-size: 18px;
}

.pricing-table .pricing-body ul li:nth-child(even)
{
    height: 62px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pricing-table .pricing-body ul li:nth-child(odd)
{
    height: 100px; 
}
.pricing-table .pricing-body ul li img
{
    width: 100px;
}
.pricing-table .pricing-body .img-center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pricing-table .pricing-body .big-price
{
    color: #000;
    font-size: 60px;
    font-weight: 900;
    line-height: 74px;
}

.pricing-table .pricing-body .big-attention
{
    color: #000;
    font-size: 30px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 1px;
}

.pricing-table .pricing-body .attention
{
    color: #000;
    font-weight: 900;
    letter-spacing: 1px;
}

.pricing-table .pricing-footer
{
    text-align: center;
    padding: 15px 40px;
    margin-top: 20px;
/*    border-top: 1px solid #e2e2e2; */
}

.pricing-table.featured .pricing-header
{
    position: relative;
    overflow: hidden;
}

.pricing-table.featured .pricing-header .featured-text
{
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(255,23,30,1);
    color: #fff;
    position: absolute;
    top: 20px;
    left: -28px;
    padding: 5px 0;
    width: 118px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.pricing .btn{
    font-size: 20px;
}

/* features-desc */
.features-desc
{
    padding: 100px 0;
    background-color: rgba(152,152,152,1);
    color: #fff;
}

.features-desc .img-general
{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.features-desc .dear-friends
{
    padding-left: 60px;
    text-align: left;
}
.features-desc .dear-friends a {
    margin-right: 30px;
    line-height: 28px;
}

.features-desc .center
{
    font-size: 14px;
}
.features-desc h3
{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1px;
    margin-top: -10px;
    padding-left: 30px;
}

.features-desc span
{
    font-size: 34px;
    letter-spacing: -1px;
}
.features-desc p
{
    font-size: 18px;
    text-align: justify;
    padding-right: 30px;
    margin: 0px;
}

.features-desc p:before
{
    content: '';
    padding-right: 30px;
}

.features-desc a
{
    margin-top : 20px;
}
/* adventages */
.adventages
{
    padding: 100px 0;
}

.adventages .section-title{
    margin-bottom: 0px;
}
.adventages .section-title h3
{
    margin-top: 0px;
}

.adventages .section-title h3>span{
    font-size: 58px;
    color: green;
}

.adventages .adventage-img
{
    margin-top: 0px;
}

.adventages .adventage
{
    padding: 10px 0 0;
    position: relative;
}
.adventages blockquote
{
    border-left: none;
    background-color: rgba(235,235,235, 1);
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.adventages blockquote h4
{
    color: #000;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
}

.adventages blockquote p
{
    text-align: justify;
    line-height: 20px;
    padding-bottom: 20px;
}

.adventages .adventage-num
{
    background-color: rgba(40,182,246,1);
    background-color: orange;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 28px;
    font-weight: 700;
    height: 54px;
    left: -20px; 
    line-height: 56px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 54px;
}

/* consultation */

.consultation
{
    padding: 100px 0;
    background-color: rgba(93,93,134,1);
}

.consultation .st-title
{
    padding-right: 40px;
}
.consultation .st-title h3
{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
    margin-bottom: 50px;
    text-align: left;
}

.consultation .st-title p
{
    font-size: 28px;
    line-height: 32px;
    padding-top: 30px;
    color: #fff;
    font-weight: 400;
}

.consultation .get-consult-form
{
    text-align: center;
}
.consultation .get-consult h4
{
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
    color: #fff;
    margin-top: 20px;
    line-height: 42px;
    text-align: center;
}

.consultation .get-consult p
{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

/* advenatage second */
.adventage-second blockquote
{
    background-color: transparent;
    position: relative;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80px;
}

.adventage-second blockquote:before
{
    background-color: rgba(244,212,90,1);
    background-color: orange;
    border-radius: 50%;
    content: '';
    display: block;
    height: 80px;
    left: -10px;
    position: absolute;
    top: -6px;
    width: 80px;
}

.adventage-second.small blockquote
{
    min-width: 60px;
}

.adventage-second.small blockquote:before
{
    height: 40px;
    width: 40px;
    left: 1px;
    top: 0px;
}

.adventage-second blockquote p
{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding-left: 10px;
    position: relative;
    padding-bottom: 0px;
}

.adventage-second blockquote p:before
{
    position: absolute;
    font-family: FontAwesome;
    content: '\f054';
    left: -15px;
    top: -2px;
    font-size: 18px;
}

.adventage-second.small blockquote p
{
    line-height: 22px;
}

.adventage-second.small blockquote p:before
{
    left: -22px;
    top: 0px;
    font-size: 14px;
}

/* visa-today */
.visa-today
{
    background-color: rgba(233,233,233,1);
    padding: 100px 0;
}
.visa-today .doc-title{
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 50px;
}
.visa-today p{
    text-align: center;
    font-size: 16px;
}

/* refusal */
.refusal
{
    padding: 100px 0px;
}

.refusal .adventages {
    padding: 0;
}

.refusal h4{
    font-size: 22px;
    margin-bottom: 30px;
}
.refusal .small blockquote{
    margin-left: 0px;
}


.refusal .refusal-form p{
    margin-top: 50px;
}

.refusal .refusal-form p{
    font-size: 16px;
    text-align: center;
}

/* office */
.office
{
    margin: 100px 0;
    position: relative;
    background-image: url(../img/office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.office .container
{
/*
    background-image: url(../img/office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
*/
}

.office .every-year
{
    background-color: #fff;
    box-shadow: 0 5px 35px 0 rgba(0,0,0,.25);
    position: absolute;
    max-width: 730px;
    top: -80px;
    left: 500px;
    padding: 50px 60px;
    z-index: 1;
}

.office .every-year h3 {
    font-size: 28px;
}
.office .every-year p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 60px;
}

.office .every-year ul{
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
    position: relative;
}
.office .every-year ul>li{
    line-height: 32px;
    font-style: italic;
}

.office .every-year ul>li:before{
    font-family: FontAwesome;
    content: '\f105';
    padding-right: 10px;
}
.office .office-contacts
{
    background-color: orange;
    min-height: 300px;
    min-width: 400px;
    position: absolute;
    top: 250px;
    left: 400px;
    padding: 50px;
}
.office .office-contacts a
{
    display: block;
    color: #4c4c4c;
    padding-top: 150px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline !important;
}
.office .office-contacts a:active,
.office .office-contacts a:focus{
    outline: none;
}

.office .office-contacts a::-moz-focus-inner{
    border: 0;
}

/* three-steps */
.three-steps
{

}

.three-steps .steps
{

}

.three-steps .steps .steps-header
{

}

.three-steps .section-title
{
    margin-bottom: 20px;
}

.three-steps .steps .steps-header .section-title h3
{

}

.three-steps .steps-header p
{
    font-size: 28px;
}

.three-steps .steps .step
{

}
.three-steps .steps .step .step-body
{
    position: relative;
}

.three-steps .steps .step .step-body blockquote
{
    border-left: none;
    position: relative;
}

.three-steps .steps .step .step-body blockquote:before
{
    content: "";
    background-color: orange;
    border-radius: 50%;

    /* position */
    position: absolute;
    top: 0px;
    left: -5px;

    /* as block element */
    display: block;
    width: 40px;
    height: 40px;
}

.three-steps .steps .step .step-body blockquote p
{
    padding-left: 20px;
}

.three-steps .steps .step .step-body .step-num
{
    position: absolute;
    top: 7px;
    left: 12px;
    font-size: 16px;
}

.three-steps .three-steps-form{
    margin-top: 50px;
}

/* footer */
footer.site-footer{
    background-color: rgba(54,71,79,1);
    padding: 10px 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
}
